/* -------------- Footer -------------------- */
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    background: #AACE9B;
}

footer a{
    text-decoration: none;
}

#card-networks-icons{
    width: 100%;
}

#card-networks-icons img{
    width: 25px;
    height: 25px;
    margin: 35px 15px 32px 15px;
}

footer p{
    align-self: center;    
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

/*Larger desktops and monitors*/
@media (min-width: 1024px) {

    footer{
        height: 176px;
    }
    
    #card-networks-icons img{
        width: 38px;
        height: 38px;
        margin: 35px 25px 32px 25px;
    }
    
    footer p{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
}
