body{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    font-family: 'Roboto';
    font-weight: 400;
}

/*------------- Larger phones and tablets ----------------*/
@media (min-width: 480px) {

}

/*Larger tablets in landscape, laptops and small desktops*/
@media (min-width: 768px) {

    body{
        background-color: blue;
    }
}

/*Larger desktops and monitors*/
@media (min-width: 1024px) {

    body{
        background-color: red;
    }
}
