body{
    font-family: 'Roboto';
    width: 480px;

}


@media (min-width: 768px) {

    /* estilos para tablet */
    body{
        background-color: green;
    }

}

@media (min-width: 1024px) {

    /* estilos para PC */
    body{
        background-color: blue;
    }
}